@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,700&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&family=Ubuntu:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   
    .sidebar.active{
        color:#0ee81c;
        border-right: 2px solid #0ee81c;
      
    }
    .nav-links[aria-current="page"]{
        color: black;
        font-weight: 500;
        padding-bottom: 12px;
        border-bottom: 2px solid #0ee81c ;
    }
}